.panel-primary {
  border-color: #7c809e;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #7c809e;
  border-color: #7c809e;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #7c809e;
}
.panel-primary > .panel-heading .badge {
  color: #7c809e;
  background-color: #ffffff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #7c809e;
}

a {
	color: #7c809e;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #7c809e;
    border-color: #7c809e;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background-color: #7c809e;
    border-color: #7c809e;
}