<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
</head>
<body>
  <div class="container-fluid" style="min-height:95%; ">
      {% include "header.html" with active_tab="user" %}
      <ol class="breadcrumb">
        <li class="active">Manage User Group</li>
    </ol>
    <div class="row">
        <div class="container col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">All Users</h3>
                </div>
                <div class="panel-body">
                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Email</th>
                                <th>Date Joined</th>
                                <th>Last Login</th>
                                <th>User Group</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.date_joined }}</td>
                                <td>{{ user.last_login }}</td>
                                
                                <td>
                                    {% for group in groups.all %}
                                    <form class="form-horizontal" role="form" method="GET" action="/db/group">
                                        {% csrf_token %}
                                        <input type="number" class="hidden" name="userID" value="{{ user.id }}" >
                                        <input type="number" class="hidden" name="groupID" value="{{ group.id }}">
                                        <input type="number" class="hidden" name="type" value=
                                        {% for g in user.groups.all %}
                                            {% if g.id == group.id %}
                                            "1"
                                            {% endif %}
                                        {% endfor %}
                                        >
                                        <input type="submit" class=" btn btn-default col-sm-3
                                        {% for g in user.groups.all %}
                                            {% if g.id == group.id %}
                                            active
                                            {% endif %}
                                        {% endfor %}
                                        " value="{{ group.name|slice:"0:1" }}" class="btn btn-default"></input>
                                    </form>
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    <div class="row">
                    <ul>
                        {% for group in groups.all %}
                            <li>{{ group.name|slice:"0:1" }} : {{ group.name}}</li>
                        {% endfor %}
                    </ul>
                    </div>
                </div>
            </div>   
        </div>  
    </div>    

</div>   
{% include "footer.html" %}
</body>
</html>