<head>
	<title>AB Credit (HK) Staff Development System</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/jquery.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/custom.js'%}"></script>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'css/custom.css' %}" type = "text/css"/>

	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
			height:100%
		}
	</style>
</head>