<div class="navbar navbar-default navbar-static-top">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#"><span>AB Credit (HK) Staff Development System</span></a>
	</div>
	<div class="collapse navbar-collapse navbar-inner navbar-right" id="navbar-ex-collapse">
		<ul class="nav navbar-nav">
			{% if user.is_authenticated %}
				<li {% ifequal active_tab "home" %}class="active"{% endifequal %}>
					<a href="/top">Home<br></a>
				</li>
				{% if request.user.is_superuser %}
						<li>
							<a href="/admin">Administration page</a>
						</li>
						<li class="dropdown {% ifequal active_tab "create" %}active{% endifequal %}">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Create <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="/create">Create Course</a></li>
				            <li><a href="/create/subclass">Create Sub Class</a></li>
				          </ul>
				        </li>
						<li
						{% ifequal active_tab "manage" %}class="active"{% endifequal %}>
							<a href="/manage">Manage Courses</a>
						</li>
						<li 
						{% ifequal active_tab "course" %}class="active"{% endifequal %}>
							<a href="/course">Course<br></a>
						</li>
						<li
						{% ifequal active_tab "enrollment" %}class="active"{% endifequal %}>
							<a href="/all">Enrollment</a>
						</li>
						<li
						{% ifequal active_tab "user" %}class="active"{% endifequal %}>
							<a href="/user">Manage User</a>
						</li>
						<li
						{% ifequal active_tab "staff" %}class="active"{% endifequal %}>
							<a href="/staff">Manage Enrollment</a>
						</li>
				{% else %}
					{% for group in request.user.groups.all %}
						{% if group.name == 'Instructor' %}
							<li class="dropdown {% ifequal active_tab "create" %}active{% endifequal %}">
					          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Create <span class="caret"></span></a>
					          <ul class="dropdown-menu">
					            <li><a href="/create">Create Course</a></li>
					            <li><a href="/create/subclass">Create Sub Class</a></li>
					          </ul>
					        </li>
							<li
							{% ifequal active_tab "manage" %}class="active"{% endifequal %}>
								<a href="/manage">Manage Courses</a>
							</li>
						{% endif %}

						{% if group.name == 'Participant' %}
							<li 
							{% ifequal active_tab "course" %}class="active"{% endifequal %}>
								<a href="/course">Course<br></a>
							</li>
							<li
							{% ifequal active_tab "enrollment" %}class="active"{% endifequal %}>
								<a href="/all">Enrollment</a>
							</li>
						{% endif %}

						{% if group.name == 'Admin' %}
							<li
							{% ifequal active_tab "user" %}class="active"{% endifequal %}>
								<a href="/user">Manage User</a>
							</li>
						{% endif %}

						{% if group.name == 'HR' %}
							<li
							{% ifequal active_tab "staff" %}class="active"{% endifequal %}>
								<a href="/staff">Manage Enrollment</a>
							</li>
						{% endif %}
					{% endfor %}
				{% endif %}
				

				<li>
					<a href="/logout">Logout</a>
				</li>
			{% endif %}
		</ul>
	</div>
</div>
