<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<body class="body">
	<div class="container-fluid" style="min-height:95%; ">
		{% include "header.html" with active_tab="home" %}
		<ol class="breadcrumb">
			<li class="active">Home</li>
		</ol>
		<div class="section">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h1 class="panel-title pull-left">
								Welcome to AB Credit (HK) Staff Development System!
							</h1>
							<i class="-circle fa pull-right fa-bars" data-toggle="collapse" href="#course_detail"></i>
							<div class="clearfix"></div>
						</div>
						<div class="panel-body panel-collapse in" id="course_detail">
							<div class="row">
								<div class="col-sm-2">
								<label for="userName" class="control-label">Name</label>
								</div>
								<div name="userName" class="col-sm-10">
									{{request.user}}
								</div>
							</div>
							<div class="row">
								<div class="col-sm-2">
									<label for="email" class="control-label">Email</label>
								</div>
								<div name="email" class="col-sm-10">
                                	{{ user.email }}
								</div>
							</div>
							<div class="row">
								<div class="col-sm-2">
									<label for="join" class="control-label">Date of Registration</label>
								</div>
								<div name="join" class="col-sm-10">
									{{ user.date_joined }}
								</div>
							</div>
							<div class="row">
								<div class="col-sm-2">
									<label for="last" class="control-label">Last Login</label>
								</div>
								<div name="last" class="col-sm-10">
									{{ user.last_login }}
								</div>
							</div>
							<div class="row">
								<div class="col-sm-2">
									<label for="role" class="control-label">Role</label>
								</div>
								<div name="role" class="col-sm-10">
									{% for g in user.groups.all %}
                                            <li>{{g.name}}</li>
                                        {% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	{% include "footer.html" %}
</body>

</html>