<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
</head>
<body>
  <div class="container-fluid" style="min-height:95%; ">
      {% include "header.html" with active_tab="staff" %}
      <ol class="breadcrumb">
        <li class="active">Manage Enrollment</li>
    </ol>
    <div class="row">
        <div class="container col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">All Enrollments</h3>
                </div>
                <div class="panel-body">
                        <button type="button" class="btn btn-default" onclick="location.href = '/staff/add';">
                            <h1 class="panel-title">Add New Enrollment</h1>
                        </button>
                        <hr>
                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Course</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for enrollment in enrollments %}
                            <tr>
                                <td>{{ enrollment.userID.username }} </td>
                                <td>{{ enrollment.courseID.name }} ({{ enrollment.classID.code }})</td>
                                <td>
                                {% if enrollment.classID.status == 0 %}
                                Closed
                                {% elif enrollment.classID.status == 1 %}
                                Opened
                                {% elif enrollment.classID.status == 2 %}
                                In Progress
                                {% elif enrollment.classID.status == 3 %}
                                Ended
                                {% else %}
                                Unknown
                                {% endif %}
                                </td>
                                
                                <td>
                                    <form class="form-horizontal" role="form" method="POST" action="/staff/edit" style="display:inline;">
                                        {% csrf_token %}
                                        <input type="number" class="hidden" name="enrollmentID" value="{{ enrollment.id }}" >
                                        <input type="number" class="hidden" name="userID" value="{{ enrollment.userID.id }}" >
                                        <input type="submit" class=" btn btn-default" value="Edit" class="btn btn-default"></input>
                                    </form>
                                    <form class="form-horizontal" role="form" method="POST" action="/db/staff/delete" style="display:inline;">
                                        {% csrf_token %}
                                        <input type="number" class="hidden" name="enrollmentID" value="{{ enrollment.id }}" >
                                        <input type="submit" class=" btn btn-default" value="Delete" class="btn btn-default"></input>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>   
        </div>  
    </div>    

</div>   
{% include "footer.html" %}
</body>
</html>