<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<body class="body">
	<div class="container-fluid" style="min-height:95%; ">
		{% include "header.html" with active_tab="staff" %}
		<ol class="breadcrumb">
			<li><a href="/staff">Manage Enrollment</a></li>
			<li class="active">Edit Enrollment</li>
		</ol>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" role="form" method="POST" action="/db/staff/edit">
						{% csrf_token %}
						<div class="form-group">
							<div class="col-sm-2">
								<label for="user" class="control-label">User Name</label>
							</div>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="user" placeholder="User Name" value="{{user}}" disabled>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2">
								<label for="name" class="control-label">Course Name</label>
							</div>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="name" placeholder="User Name" value="{{course}}" disabled>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2">
								<label for="name" class="control-label">Class Code</label>
							</div>
							<div class="col-sm-10">
								<select class="form-control" name="class">
									{% for class in classes %}
									<option value="{{class.id}}" 
									{% if enrollment.classID.id == class.id %}
									selected
									{% endif %}>{{class.code}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<input type="number" class="hidden" name="enrollmentID" value="{{ enrollment.id }}" >
                        <input type="number" class="hidden" name="userID" value="{{ user.id }}" >
                        <input type="number" class="hidden" name="courseID" value="{{ course.id }}" >
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<input type="submit" value="Update" class="btn btn-default"></input>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% include "footer.html" %}
</body>

</html>