<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<body class="body">
	<div class="container-fluid" style="min-height:95%; ">
		{% include "header.html" with active_tab="staff" %}
		<ol class="breadcrumb">
			<li><a href="/staff">Manage Enrollment</a></li>
			<li class="active">Add Enrollment</li>
		</ol>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" role="form" method="POST" action="/staff/add/next">
						{% csrf_token %}
						<div class="form-group">
							<div class="col-sm-2">
								<label for="user" class="control-label">User Name</label>
							</div>
							<div class="col-sm-10">
								<select class="form-control" name="user">
									{% for user in users %}
									<option value="{{user.id}}">{{user}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2">
								<label for="name" class="control-label">Course Name</label>
							</div>
							<div class="col-sm-10">
								<select class="form-control" name="course">
									{% for course in courses %}
									<option value="{{course.id}}"
									{% if enrollment.courseID.id == course.id %}
									selected
									{% endif %}>{{course.name}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<input type="submit" value="Next" class="btn btn-default"></input>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% include "footer.html" %}
</body>

</html>