<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<body>
	<div class="container-fluid" style="min-height:95%; ">
		{% include "header.html" with active_tab="manage" %}
		<script type="text/javascript">
			$( document ).ready(function() {
				document.getElementById("clear").onclick = function() {
					document.getElementById('textField').innerHTML = "";
				};
				
				document.getElementById("textBtn").onclick = function() {
					document.getElementById("textDiv").style.display = "inline";
					document.getElementById("fileDiv").style.display = "none";
					document.getElementById("youtubeDiv").style.display = "none";
					$('#textBtn').addClass('active');
					$('#fileBtn').removeClass('active');
					$('#youtubeBtn').removeClass('active');
				};
				
				document.getElementById("fileBtn").onclick = function() {
					document.getElementById("textDiv").style.display = "none";
					document.getElementById("fileDiv").style.display = "inline";
					document.getElementById("youtubeDiv").style.display = "none";
					$('#textBtn').removeClass('active');
					$('#fileBtn').addClass('active');
					$('#youtubeBtn').removeClass('active');
				};
				document.getElementById("youtubeBtn").onclick = function() {
					document.getElementById("textDiv").style.display = "none";
					document.getElementById("fileDiv").style.display = "none";
					document.getElementById("youtubeDiv").style.display = "inline";
					$('#textBtn').removeClass('active');
					$('#fileBtn').removeClass('active');
					$('#youtubeBtn').addClass('active');
				};
				

			});
		</script>
		<style type="text/css">
			.video_frame {
				position: relative;
				width: 100%;
				height: 0;
				padding-bottom: 56.25%;
			}
			.video {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		</style>
		<ol class="breadcrumb">
			<li>
				<a href="/manage">Manage Courses</a>
			</li>
			<li>
				<a href="/manage/course?courseID={{ component.courseID.id }}&classID={{ component.classID.id }}">{{ component.courseID.name }}</a>
			</li>
			<li>
				<a href="/manage/module?courseID={{ component.courseID.id }}&classID={{ component.classID.id }}&moduleID={{component.moduleID.id}}">{{ component.moduleID.name }}</a>
			</li>
			<li class="active">Component {{ component.order }}</li>
		</ol>
		<div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title pull-left">
						Type of Component
					</h1>
					<i class="-circle fa pull-right fa-bars" data-toggle="collapse" href="#type"></i>
					<div class="clearfix"></div>

				</div>
				<div class="panel-body panel-collapse in" id="type">
					
					<div class=" col-sm-12" style="text-align: center;">
						<input type="button" value="File/Image" id="fileBtn" class="btn btn-default {% if component.type == 1 or component.type == 0 %}active{% endif %}"></input>
						<input type="button" value="Text" id="textBtn" class="btn btn-default {% if component.type == 2%}active{% endif %}"></input>
						<input type="button" value="Youtube Link" id="youtubeBtn" class="btn btn-default {% if component.type == 3%}active{% endif %}"></input>
					</div>
				</div>
			</div>
		</div>
		<div id="fileDiv" {% if component.type == 2 or component.type == 3 %} style="display:none;"{% endif %}>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title pull-left">
						File / Image
					</h1>
					<i class="-circle fa pull-right fa-bars" data-toggle="collapse" href="#file"></i>
					<div class="clearfix"></div>

				</div>
				<div class="panel-body panel-collapse in" id="file">
					{% if component.filename == "" and component.ext == "" %}
					<div class="row">
						<div class="col-sm-12">
							Empty Content.
						</div>
					</div>
					{% else %}
					<div class="row">
						<div class="col-sm-2">
							<label for="name" class="control-label">Name</label>
						</div>
						<div class="col-sm-10">
							{{ component.filename }}{{ component.ext }}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<label for="name" class="control-label">Type</label>
						</div>
						<div class="col-sm-10">
							{% if component.type == 0 %}
							File
							{% elif component.type == 1 %}
							Image
							{% elif component.type == 2 %}
							Text
							{% else %}
							Unknown
							{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<a href="/db/component/clean?courseID={{ component.courseID.id }}&classID={{ component.classID.id }}&moduleID={{ component.moduleID.id }}&componentID={{ component.id }}">
								<i class="-circle fa fa-lg fa-trash-o pull-right"></i>
							</a>
						</div>
					</div>
					{% endif %}
					<hr>
					<div class="row">
						<div class="col-md-12">
							<form method="post" enctype="multipart/form-data" action="/db/component/upload">
								{% csrf_token %}
								<div class="row">
									<div class="col-sm-2">
										<label for="name" class="control-label">File Upload</label>
									</div>
									<div class="col-sm-9">
										<input type="file" name="file" />
									</div>
									<div class="col-sm-1">
										<input type="submit" name="submit" value="Upload" />
									</div>
								</div>
								
								<input type="number" class="hidden" name="courseID" value="{{ component.courseID.id }}" >
								<input type="number" class="hidden" name="classID" value="{{ component.classID.id }}">
								<input type="number" class="hidden" name="moduleID" value="{{ component.moduleID.id }}">
								<input type="number" class="hidden" name="componentID" value="{{ component.id }}">
								
							</form>
						</div>
					</div>
					{% if component.filename == "" and component.ext == "" %}

					{% else %}
					<hr>
					<div class="row">
						{% if component.type == 0 %}
						<div class="col-sm-2">
							<label for="name" class="control-label">Download</label>
						</div>
						<div class="col-sm-10">
							<a href="/file?filename={{component.filename}}{{component.ext}}" download="{{component.filename}}{{component.ext}}">{{component.filename}}{{component.ext}}</a>
						</div>
						{% elif component.type == 1 %}
						<div class="col-sm-12" style="text-align: center;">
							<label class="control-label">Image Preview</label>
						</div>
						<div class="col-sm-12" style="text-align: center;">
							<a href="/file?filename={{component.filename}}{{component.ext}}" download="{{component.filename}}{{component.ext}}" ><img src="/file?filename={{component.filename}}{{component.ext}}" style="max-width: 100%; height: auto;"></a>
						</div>

						{% else %}

						{% endif %}
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div id="textDiv" {% if component.type == 0 or component.type == 1 or component.type == 3%}style="display:none;"{% endif %}>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title pull-left">
						Text
					</h1>
					<i class="-circle fa pull-right fa-bars" data-toggle="collapse" href="#text"></i>
					<div class="clearfix"></div>

				</div>
				<div class="panel-body panel-collapse in" id="text">
					<form class="form-horizontal" role="form" method="POST" action="/db/component/text">
						{% csrf_token %}
						<div class="form-group">
							<div class="col-sm-12">
								<textarea class="form-control" rows="5" name="text" id="textField" placeholder="Text of component">{{ component.text }}</textarea>
							</div>
						</div>
						<div class="form-group">
							<div class=" col-sm-12">
								<input type="submit" value="Update" class="btn btn-default"></input>
								<input type="button" value="Clear" id="clear" class="btn btn-default"></input>

							</div>
						</div>

						<input type="number" class="hidden" name="courseID" value="{{ component.courseID.id }}" >
						<input type="number" class="hidden" name="classID" value="{{ component.classID.id }}">
						<input type="number" class="hidden" name="moduleID" value="{{ component.moduleID.id }}">
						<input type="number" class="hidden" name="componentID" value="{{ component.id }}">
					</form>
				</div>
			</div>
		</div>
		<div id="youtubeDiv" {% if component.type == 0 or component.type == 1 or component.type == 2 %}style="display:none;"{% endif %}>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title pull-left">
						Youtube Video
					</h1>
					<i class="-circle fa pull-right fa-bars" data-toggle="collapse" href="#youtube"></i>
					<div class="clearfix"></div>

				</div>
				<div class="panel-body panel-collapse in" id="youtube">
					<form class="form-horizontal" role="form" method="POST" action="/db/component/youtube">
						{% csrf_token %}
						<div class="form-group">
							<div class="col-sm-2">
								<label for="youtube" class="control-label">Youtube code</label>
							</div>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="youtube" placeholder="" value="{{ component.youtube }}">
							</div>
						</div>
						<div class="form-group">
							<div class=" col-sm-12">
								<input type="submit" value="Update" class="btn btn-default"></input>
								<input type="button" value="Clear" id="clear" class="btn btn-default"></input>

							</div>
						</div>

						<input type="number" class="hidden" name="courseID" value="{{ component.courseID.id }}" >
						<input type="number" class="hidden" name="classID" value="{{ component.classID.id }}">
						<input type="number" class="hidden" name="moduleID" value="{{ component.moduleID.id }}">
						<input type="number" class="hidden" name="componentID" value="{{ component.id }}">
					</form>
					{% if component.type == 3 %}
					<hr>
					<div class="row">
						<div class="col-sm-12" style="text-align: center;">
							<label class="control-label">Video Preview</label>
						</div>
						<div class="col-sm-12 video_frame">
							<iframe class="video" src="http://www.youtube.com/embed/{{component.youtube}}" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% include "footer.html" %}
</body>

</html>