<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<body class="body">
	<div class="container-fluid" style="min-height:95%; ">
		{% include "header.html" with active_tab="create" %}
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Delete {{ type }}</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
							{% if type == "Class" %}
							<p>Subclass {{class}} of Course {{ name }} has been deleted.</p>
							{% elif type == "Course+Class" %}
							<p>Subclass {{class}} of Course {{ name }} has been deleted.</p>
							<p>Course {{ name }} has been deleted since there is no subclass left.</p>
							{% else %}
							<p>{{type}} {{ name }} has been deleted.</p>
							{% endif %}
						<p>
						Click <a href="{{ redirect }}">here</a> to go to the previous page.
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>
	{% include "footer.html" %}
</body>

</html>