<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<body class="body">
	<div class="container-fluid" style="min-height:95%; ">
		{% include "header.html" with active_tab="manage" %}
		<ol class="breadcrumb">
			<li>
				<a href="/manage">Manage Courses</a>
			</li>
			<li>
				<a href="/manage/course?courseID={{ module.courseID.id }}&classID={{ module.classID.id }}">{{ module.courseID.name }}</a>
			</li>
			<li class="active">{{ module.name }}</li>
		</ol>
		<div class="panel panel-default">
			<div class="panel-heading">

				<h1 class="panel-title pull-left">
					Module Details
				</h1>
				<i class="-circle fa pull-right fa-bars" data-toggle="collapse" href="#module_detail"></i>
				<div class="clearfix"></div>

			</div>
			<div class="panel-body panel-collapse in" id="module_detail">
				<div class="row">
					<div class="col-md-12">
						<form class="form-horizontal" role="form" method="POST" action="/db/module/edit">
							{% csrf_token %}
							<div class="form-group">
								<div class="col-sm-2">
									<label for="name" class="control-label">Module Name</label>
								</div>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="name" placeholder="Module Name" value="{{ module.name}}">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2">
									<label for="description">Module Description</label>
								</div>
								<div class="col-sm-10">
									<textarea class="form-control" rows="5" name="description"  placeholder="Module Description">{{ module.description }}</textarea>
								</div>
							</div>
							<input type="number" class="hidden" name="courseID" value="{{ module.courseID.id }}" >
							<input type="number" class="hidden" name="classID" value="{{ module.classID.id }}">
							<input type="number" class="hidden" name="moduleID" value="{{ module.id }}">
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<input type="submit" value="Update" class="btn btn-default"></input>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		{% for component in components %}
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h1 class="panel-title pull-left">
					Component {{ component.order }}
				</h1>
				<i class="-circle fa pull-right fa-bars" data-toggle="collapse" href="#{{ module.courseID.id }}_{{ module.classID.id }}_{{ component.id }}"></i>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body panel-collapse in" id="{{ module.courseID.id }}_{{ module.classID.id }}_{{ module.id }}">
				{% if component.type == 2 %}
				<div class="row">
					<div class="col-sm-12">
						{{ component.text }}
					</div>
				</div>
				{% elif component.type == 3 %}
				<div class="row">

					<div class="col-sm-2">
						<label for="name" class="control-label">Youtube Code</label>
					</div>
					<div class="col-sm-10">
						{{component.youtube}}
					</div>
				</div>
				{% else %}
				{% if component.filename == "" and component.ext == "" %}
				<div class="row">
					<div class="col-sm-12">
						Empty Content.
					</div>
				</div>
				{% else %}
				<div class="row">
					<div class="col-sm-2">
						<label for="name" class="control-label">Name</label>
					</div>
					<div class="col-sm-10">
						{{ component.filename }}{{ component.ext }}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<label for="name" class="control-label">Type</label>
					</div>
					<div class="col-sm-10">
						{% if component.type == 0 %}
						File
						{% elif component.type == 1 %}
						Image
						{% else %}
						Unknown
						{% endif %}
					</div>
				</div>
				{% endif %}
				{% endif %}
				<div class="row">
					<div class="col-sm-12">
						{% if latestOrder != component.order %}
						<a href="/db/component/order?type=down&courseID={{ component.courseID.id }}&classID={{ component.classID.id }}&moduleID={{ component.moduleID.id }}&componentID={{ component.id }}">
							<i class="-circle fa fa-arrow-down fa-lg pull-right"></i>
						</a>
						{% endif %}
						{% if 1 != component.order %}
						<a href="/db/component/order?type=up&courseID={{ component.courseID.id }}&classID={{ component.classID.id }}&moduleID={{ component.moduleID.id }}&componentID={{ component.id }}">
							<i class="-circle fa fa-lg fa-arrow-up pull-right"></i>
						</a>
						{% endif %}
						<a href="/db/component/delete?courseID={{ component.courseID.id }}&classID={{ component.classID.id }}&moduleID={{ component.moduleID.id }}&componentID={{ component.id }}">
							<i class="-circle fa fa-lg fa-trash-o pull-right"></i>
						</a>
						<a href="/manage/component?courseID={{ component.courseID.id }}&classID={{ component.classID.id }}&moduleID={{ component.moduleID.id }}&componentID={{ component.id }}">
							<i class="-circle fa fa-edit fa-lg pull-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		<div class="panel">
			<button type="button" class="btn btn-block btn-default" onclick="location.href = '/db/component/add?courseID={{ module.courseID.id }}&classID={{ module.classID.id }}&moduleID={{ module.id }}&latestOrder={{latestOrder}}';" style="text-align:left; white-space: normal;">
				<i class="-circle -square -square-o -v fa pull-left fa-plus"></i>
				<h1 class="panel-title">Add New Component</h1>
			</button>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h1 class="panel-title pull-left">
					Quiz
				</h1>
				<i class="-circle fa pull-right fa-bars" data-toggle="collapse" href="#quiz"></i>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body panel-collapse in" id="quiz">
				<div class="row">
					<div class="col-sm-2">
						<label for="name" class="control-label">No. of questions</label>
					</div>
					<div class="col-sm-10">
						{{questionCount}}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<a href="/manage/quiz?courseID={{ module.courseID.id }}&classID={{ module.classID.id }}&moduleID={{ module.id }}">
							<i class="-circle fa fa-edit fa-lg pull-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include "footer.html" %}
</body>

</html>