<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<body class="body">
	<div class="container-fluid" style="min-height:95%; ">
		{% include "header.html" with active_tab="manage" %}
		<ol class="breadcrumb">
			<li class="active">Manage Courses</li>
		</ol>
		{% if count > 0 %}
			{% for class in classes %}

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h1 class="panel-title pull-left">
						{{class.courseID.name}} ({{class.code}})
					</h1>
					<i class="-circle fa pull-right fa-bars" data-toggle="collapse" href="#{{class.courseID.id}}_{{class.id}}"></i>
					<div class="clearfix"></div>
				</div>
				<div class="panel-body panel-collapse in" id="{{class.courseID.id}}_{{class.id}}">
					<div class="row">
						<div class="col-sm-2">
							<label for="name" class="control-label">Course Name</label>
						</div>
						<div class="col-sm-10">
							{{class.courseID.name}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<label for="name" class="control-label">Sub-Class</label>
						</div>
						<div class="col-sm-10">
							{{class.code}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<label for="name" class="control-label">Desription</label>
						</div>
						<div class="col-sm-10">
							{{class.description}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<label for="category" class="control-label">Category</label>
						</div>
						<div class="col-sm-10">
							{{class.courseID.categoryID.name}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<label for="category" class="control-label">Status</label>
						</div>
						<div class="col-sm-10">
							{% if class.status == 0 %}Closed{% endif %}
							{% if class.status == 1 %}Opened{% endif %}
							{% if class.status == 2 %}In Progress{% endif %}
							{% if class.status == 3 %}Ended{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<label for="category" class="control-label">Partipant Limit</label>
						</div>
						<div class="col-sm-10">
							{{class.courseID.limit}}
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<a href="db/delete?courseID={{class.courseID.id}}&classID={{class.id}}"><i class="-circle fa fa-lg fa-trash-o pull-right"></i></a>
							<a href="/manage/course?courseID={{class.courseID.id}}&classID={{class.id}}"><i class="-circle fa fa-edit fa-lg pull-right"></i></a>
						</div>
					</div>
				</div>
			</div>


			{% endfor %}
		{% else %}
			<div class="col-sm-12">
			There is no course to manage.
			</div>
		{% endif %}
	</div>
	{% include "footer.html" %}
</body>

</html>