<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<body class="body">
	<div class="container-fluid" style="min-height:95%; ">
		{% include "header.html" with active_tab="manage" %}
		<ol class="breadcrumb">
			<li>
				<a href="/manage">Manage Courses</a>
			</li>
			<li>
				<a href="/manage/course?courseID={{ module.courseID.id }}&classID={{ module.classID.id }}">{{ module.courseID.name }}</a>
			</li>
			<li>
				<a href="/manage/module?courseID={{ module.courseID.id }}&classID={{ module.classID.id }}&moduleID={{ module.id }}">{{ module.name }}</a>
			</li>
			<li class="active">Quiz</li>
		</ol>
		{% for question in questions %}
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h1 class="panel-title pull-left">
					Question {{ question.order }}
				</h1>
				<i class="-circle fa pull-right fa-bars" data-toggle="collapse" href="#{{ module.courseID.id }}_{{ module.classID.id }}_{{ component.id }}"></i>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body panel-collapse in" id="{{ module.courseID.id }}_{{ module.classID.id }}_{{ module.id }}">
				<div class="row">
					<div class="col-sm-2">
						<label for="name" class="control-label">Question</label>
					</div>
					<div class="col-sm-10">
						{{question.question}}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						{% if latestOrder != question.order %}
						<a href="/db/question/order?type=down&courseID={{ question.courseID.id }}&classID={{ question.classID.id }}&moduleID={{ question.moduleID.id }}&questionID={{ question.id }}">
							<i class="-circle fa fa-arrow-down fa-lg pull-right"></i>
						</a>
						{% endif %}
						{% if 1 != question.order %}
						<a href="/db/question/order?type=up&courseID={{ question.courseID.id }}&classID={{ question.classID.id }}&moduleID={{ question.moduleID.id }}&questionID={{ question.id }}">
							<i class="-circle fa fa-lg fa-arrow-up pull-right"></i>
						</a>
						{% endif %}
						{% if questionCount > 1 %}
						<a href="/db/question/delete?courseID={{ question.courseID.id }}&classID={{ question.classID.id }}&moduleID={{ question.moduleID.id }}&questionID={{ question.id }}">
							<i class="-circle fa fa-lg fa-trash-o pull-right"></i>
						</a>
						{% endif %}
						<a href="/manage/question?moduleID={{ question.moduleID.id }}&questionID={{ question.id }}">
							<i class="-circle fa fa-edit fa-lg pull-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		<div class="panel">
			<button type="button" class="btn btn-block btn-default" onclick="location.href = '/db/question/add?courseID={{ module.courseID.id }}&classID={{ module.classID.id }}&moduleID={{ module.id }}&latestOrder={{latestOrder}}';" style="text-align:left; white-space: normal;">
				<i class="-circle -square -square-o -v fa pull-left fa-plus"></i>
				<h1 class="panel-title">Add New Question</h1>
			</button>
		</div>
	</div>
	{% include "footer.html" %}
</body>

</html>