<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<body class="body">
	<div class="container-fluid" style="min-height:95%; ">
		{% include "header.html" with active_tab="manage" %}
		<ol class="breadcrumb">
			<li>
				<a href="/manage">Manage Courses</a>
			</li>
			<li>
				<a href="/manage/course?courseID={{ module.courseID.id }}&classID={{ module.classID.id }}">{{ module.courseID.name }}</a>
			</li>
			<li>
				<a href="/manage/module?courseID={{ module.courseID.id }}&classID={{ module.classID.id }}&moduleID={{ module.id }}">{{ module.name }}</a>
			</li>
			<li>
				<a href="/manage/quiz?courseID={{ module.courseID.id }}&classID={{ module.classID.id }}&moduleID={{ module.id }}">Quiz</a>
			</li>
			<li class="active">Question {{question.order}}</li>
		</ol>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title pull-left">
					Question
				</h1>
				<i class="-circle fa pull-right fa-bars" data-toggle="collapse" href="#module_detail"></i>
				<div class="clearfix"></div>

			</div>
			<div class="panel-body panel-collapse in" id="module_detail">
				<div class="row">
					<div class="col-md-12">
						<form class="form-horizontal" role="form" method="POST" action="/db/question/edit">
							{% csrf_token %}
							<div class="form-group">
								<div class="col-sm-2">
									<label for="name" class="control-label">Question</label>
								</div>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="question" placeholder="Empty Question" value="{{ question.question}}">
								</div>
							</div>
							<input type="number" class="hidden" name="questionID" value="{{ question.id }}">
							<input type="number" class="hidden" name="moduleID" value="{{ module.id }}">
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<input type="submit" value="Update" class="btn btn-default"></input>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h1 class="panel-title pull-left">
					Answer
				</h1>
				<i class="-circle fa pull-right fa-bars" data-toggle="collapse" href="#{{ module.courseID.id }}_{{ module.classID.id }}_{{ component.id }}"></i>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body panel-collapse in" id="{{ module.courseID.id }}_{{ module.classID.id }}_{{ module.id }}">
				<div class="row">
					<form class="form-horizontal" role="form" method="POST" action="/db/answer/edit">
						{% csrf_token %}
						<input type="number" class="hidden" name="moduleID" value="{{ module.id }}">
						<input type="number" class="hidden" name="questionID" value="{{ question.id }}">
						{% for answer in answers %}
						<input type="number" class="hidden" name="answerID" value="{{ answer.id }}">
						<div class="col-sm-10">
							<input type="text" class="form-control" name="answer" placeholder="Empty Answer" value="{{answer.answer}}">
						</div>
						<a href="/db/answer/delete?moduleID={{ module.id }}&questionID={{ question.id }}&answerID={{answer.id}}"><input type="button" class="btn btn-default" value="Delete" 
							{% if answerCount <= 2 %}
							disabled
							{% endif %}>
						</a>
						<a href="/db/answer/correct?moduleID={{ module.id }}&questionID={{ question.id }}&answerID={{answer.id}}"><input type="button" class="btn btn-default" value="Set as correct"
							{% if answer.id == question.correctAnswer %}
							disabled
							{% endif %}>
						</a>
						{% endfor %}
						<div class="col-md-12">
							<input type="submit" class="btn btn-default" value="Save All">

						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="panel">
			<button type="button" class="btn btn-block btn-default" onclick="location.href = '/db/answer/add?courseID={{ module.courseID.id }}&classID={{ module.classID.id }}&moduleID={{ module.id }}&questionID={{question.id}}';" style="text-align:left; white-space: normal;">
				<i class="-circle -square -square-o -v fa pull-left fa-plus"></i>
				<h1 class="panel-title">Add New Answer</h1>
			</button>
		</div>
	</div>
	{% include "footer.html" %}
</body>

</html>