<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<body class="body">
	<div class="container-fluid" style="min-height:95%; ">
		{% include "header.html" with active_tab="manage" %}
		<ol class="breadcrumb">
			<li>
				<a href="/manage">Manage Courses</a>
			</li>
			<li class="active">{{ class.courseID.name }}</li>
		</ol>
		<div class="panel panel-default">
			<div class="panel-heading">

				<h1 class="panel-title pull-left">
					Course Details
				</h1>
				<i class="-circle fa pull-right fa-bars" data-toggle="collapse" href="#course_detail"></i>
				<div class="clearfix"></div>

			</div>
			<div class="panel-body panel-collapse in" id="course_detail">
				<div class="row">
					<div class="col-md-12">
						<form class="form-horizontal" role="form" method="POST" action="/db/edit">
							{% csrf_token %}
							<div class="form-group">
								<div class="col-sm-2">
									<label for="name" class="control-label">Course Name</label>
								</div>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="name" placeholder="Course Name" value="{{ class.courseID.name}}">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2">
									<label for="sel1">Category </label>
								</div>
								<div class="col-sm-10">
									<select class="form-control" name="category">
										{% for category in categories %}
										{% if class.courseID.categoryID.name == category.name %}
										<option selected>{{category}}</option>
										{% else %}
										<option>{{category}}</option>
										{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2">
									<label for="limit">Particpant Limit</label>
								</div>
								<div class="col-sm-10">
									<input type="number" class="form-control" name="limit" value="{{ class.courseID.limit }}" min="30" max="100">
								</div>
							</div>
							<input type="number" class="hidden" name="courseID" value="{{ class.courseID.id }}" >
							<input type="number" class="hidden" name="classID" value="{{ class.id }}">
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<input type="submit" value="Update" class="btn btn-default"></input>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">

				<h1 class="panel-title pull-left">
					Sub-Class Details
				</h1>
				<i class="-circle fa pull-right fa-bars" data-toggle="collapse" href="#subclass_detail"></i>
				<div class="clearfix"></div>

			</div>
			<div class="panel-body panel-collapse in" id="subclass_detail">
				<div class="row">
					<div class="col-md-12">
						<form class="form-horizontal" role="form" method="POST" action="/db/edit/subclass">
							{% csrf_token %}
							<div class="form-group">
								<div class="col-sm-2">
									<label for="code" class="control-label">Sub Class Code</label>
								</div>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="code" placeholder="Sub Class Code" value="{{ class.code }}">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2">
									<label for="description">Sub-Class Description</label>
								</div>
								<div class="col-sm-10">
									<textarea class="form-control" rows="5" name="description"  placeholder="Course Description">{{ class.description }}</textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2">
									<label for="status">Status</label>
								</div>
								<div class="col-sm-10">
									<select class="form-control" name="status">
										<option value="0" {% if class.status == 0 %}selected{% endif %}>Closed</option>
										<option value="1" {% if class.status == 1 %}selected{% endif %}>Opened</option>
										<option value="2" {% if class.status == 2 %}selected{% endif %}>In Progress</option>
										<option value="3" {% if class.status == 3 %}selected{% endif %}>Ended</option>
										
									</select>
								</div>
							</div>
							
							<input type="number" class="hidden" name="courseID" value="{{ class.courseID.id }}" >
							<input type="number" class="hidden" name="classID" value="{{ class.id }}">
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<input type="submit" value="Update" class="btn btn-default"></input>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		{% for module in modules %}
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h1 class="panel-title pull-left">
					{{ module.name }}
				</h1>
				<i class="-circle fa pull-right fa-bars" data-toggle="collapse" href="#{{ module.courseID.id }}_{{ module.classID.id }}_{{ module.id }}"></i>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body panel-collapse in" id="{{ module.courseID.id }}_{{ module.classID.id }}_{{ module.id }}">
				<div class="row">
					<div class="col-sm-2">
						<label for="name" class="control-label">Module Description</label>
					</div>
					<div class="col-sm-10">
						{{ module.description }}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						{% if latestOrder != module.order %}
						<a href="/db/module/order?type=down&courseID={{ module.courseID.id }}&classID={{ module.classID.id }}&moduleID={{ module.id }}">
							<i class="-circle fa fa-arrow-down fa-lg pull-right"></i>
						</a>
						{% endif %}
						{% if 1 != module.order %}
						<a href="/db/module/order?type=up&courseID={{ module.courseID.id }}&classID={{ module.classID.id }}&moduleID={{ module.id }}">
							<i class="-circle fa fa-lg fa-arrow-up pull-right"></i>
						</a>
						{% endif %}
						<a href="/db/module/delete?courseID={{ module.courseID.id }}&classID={{ module.classID.id }}&moduleID={{ module.id }}">
							<i class="-circle fa fa-lg fa-trash-o pull-right"></i>
						</a>
						<a href="/manage/module?courseID={{module.courseID.id}}&classID={{module.classID.id}}&moduleID={{ module.id }}">
							<i class="-circle fa fa-edit fa-lg pull-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		<button type="button" class="btn btn-block btn-default" onclick="location.href = '/db/module/add?courseID={{ class.courseID.id }}&classID={{ class.id }}&latestOrder={{latestOrder}}';" style="text-align:left; white-space: normal;">
			<i class="-circle -square -square-o -v fa pull-left fa-plus"></i>
			<h1 class="panel-title">Add New Module</h1>
		</button>
	</div>
	{% include "footer.html" %}
</body>

</html>