<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<body class="body">
	<div class="container-fluid" style="min-height:95%; ">
		{% include "header.html" with active_tab="create" %}
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Create Course</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p>
							{% ifequal type "sub" %}
							The sub-class {{code}} for course {{ name }} has been added.
							{% else %}
							The course {{ name }} has been created.
							The sub-class {{code}} for course {{ name }} has been added.
							{% endifequal %}
						</p>
						<p>
						Click <a href="/manage">here</a> to forward to the course page.
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>
	{% include "footer.html" %}
</body>

</html>