<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<body class="body">
	<div class="container-fluid" style="min-height:95%; ">
		{% include "header.html" with active_tab="create" %}
		<ol class="breadcrumb">
			<li class="active">Create Course</li>
		</ol>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" role="form" method="POST" action="/db/create">
						{% csrf_token %}
						<div class="form-group">
							<div class="col-sm-2">
								<label for="name" class="control-label">Course Name</label>
							</div>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="name" placeholder="Course Name">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2">
								<label for="code" class="control-label">Sub Class Code</label>
							</div>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="code" placeholder="Sub Class Code" value="A">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2">
								<label for="sel1">Category</label>
							</div>
							<div class="col-sm-10">
								<select class="form-control" name="category">
									{% for category in categories %}
									<option value="{{category.id}}">{{category}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2">
								<label for="description">Course Description</label>
							</div>
							<div class="col-sm-10">
								<textarea class="form-control" rows="5" name="description"  placeholder="Course Description"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2">
								<label for="limit">Particpant Limit</label>
							</div>
							<div class="col-sm-10">
								<input type="number" class="form-control" name="limit" value="30" min="30" max="100">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<input type="submit" value="Create" class="btn btn-default"></input>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% include "footer.html" %}
</body>

</html>