<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<body class="body">
	<div class="container-fluid" style="min-height:95%; ">
		{% include "header.html" %}
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">AB Credit (HK) Staff Development System</h1>
			</div>
			<div class="col-md-8 text-center col-md-offset-2">
				<form class="form-horizontal" role="form" method="post" action="/auth">
					{% csrf_token %}
					<div class="form-group">
					<div class="col-sm-2">
							<label for="username" class="control-label">User Name</label>
						</div>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="username" id="username" placeholder="User Name">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
							<label for="password" class="control-label">Password</label>
						</div>
						<div class="col-sm-10">
							<input type="password" class="form-control" name="password" id="password" placeholder="Password">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-default">Sign in</button>
							<a type="button" href="/reg" class="btn btn-default">Register</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	{% include "footer.html" %}
</body>

</html>