<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<body>
  <div class="container-fluid" style="min-height:95%; ">
    {% include "header.html" with active_tab="course" %}
    <style type="text/css">
      .video_frame {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
      }
      .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    </style>
    <ol class="breadcrumb">
      <li>
        <a href="/course">Course</a>
      </li>
      <li>
        <a href="/course/detail?classID={{module.classID.id}}">{{ module.courseID.name }}</a>
      </li>
      <li class="active">{{ module.name }}</li>
    </ol>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title pull-left">
          Module Description
        </h1>
        <i class="-circle fa pull-right fa-bars" data-toggle="collapse" href="#module_des"></i>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body panel-collapse in" id="module_des">
        {{module.description}}
      </div>
    </div>
    <div class="panel-group" id="accordion">
      {% for component in components %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#{{component.id}}">Component {{component.order}}</a>
          </h4>
        </div>
        <div id="{{component.id}}" class="panel-collapse collapse{% if component.order == 1 %} in{% endif %}">
          <div class="panel-body">
            {% if component.type == 2 %}
            <div class="row">
              <div class="col-sm-12">
                {{component.text}}
              </div>
            </div>
            {% elif component.type == 3 %}
            <div class="row">
              <div class="col-sm-12 video_frame">
                <iframe class="video" src="http://www.youtube.com/embed/{{component.youtube}}" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            {% else %}
            {% if component.filename == "" and component.ext == "" %}
            Empty Content.
            {% else %}
            {% if component.type == 0 %}
            <div class="row">
              <div class="col-sm-2">
                <label for="name" class="control-label">File</label>
              </div>
              <div class="col-sm-10">
                <a href="/file?filename={{component.filename}}{{component.ext}}" download="{{component.filename}}{{component.ext}}">{{component.filename}}{{component.ext}}</a>
              </div>
            </div>
            {% elif component.type == 1 %}
            <div class="col-sm-12" style="text-align: center;">
              <a href="/file?filename={{component.filename}}{{component.ext}}" download="{{component.filename}}{{component.ext}}"><img src="/file?filename={{component.filename}}{{component.ext}}" style="max-width: 100%; height: auto;"></a>
            </div>
            {% else %}

            {% endif %}
            {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
      
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" href="#quiz">Quiz</a>
        </h4>
      </div>
      <div id="quiz" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-2">
              <label for="name" class="control-label">No. of question</label>
            </div>
            <div class="col-sm-10">
              {{ questionCount }}
            </div>
          </div>
          {% if submissionCount > 0 %}
          <hr>
          <div class="row">
            <div class="col-sm-2">
              <label for="name" class="control-label">Last submission time</label>
            </div>
            <div class="col-sm-10">
              {{ lastSubmission.dateTime }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <label for="name" class="control-label">Last submission marks</label>
            </div>
            <div class="col-sm-10">
              {{ lastSubmission.marks }} / {{ questionCount }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <label for="name" class="control-label">Last submission grade</label>
            </div>
            <div class="col-sm-10">
              {% if lastSubmission.marks >= passMark %}
              Pass
              {% else %}
              Fail
              {% endif %}
            </div>
          </div>
          {% endif %}
          <hr>
          <div class="row col-sm-12">
           <a href="/course/quiz?courseID={{module.courseID.id}}&classID={{module.classID.id}}&moduleID={{module.id}}"><input type="button" class="btn btn-default 
            {% if submissionCount > 0 %}
            {% if lastSubmission.marks >= passMark %}
            disabled
            {% endif %}
            {% endif %}
            " 
            {% if submissionCount > 0 %}
            {% if lastSubmission.marks < passMark %}
            value="Take this quiz again"
            {% else %}
            value="Take this quiz"
            {% endif %}
            {% else %}
            value="Take this quiz"
            {% endif %}
            ></a>
            <a href="/course/quiz/list?courseID={{module.courseID.id}}&classID={{module.classID.id}}&moduleID={{module.id}}"><input type="button" class="btn btn-default 
             {% if submissionCount == 0 %}
             disabled
             {% endif %}
             " value="Previous Submissions"></a>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>

 {% include "footer.html" %}
</body>
</html>