<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<body>
  <div class="container-fluid" style="min-height:95%; ">
    {% include "header.html" with active_tab="enrollment" %}
    <ol class="breadcrumb">
        <li>
            <a href="#">Enrollment</a>
        </li>
        <li>
            <a href="/add">Add Course</a>
        </li>
        <li>
            <a href="participant-enrollment-add-by-category.html">{{class.courseID.categoryID.name}}</a>	
        </li>
        <li class="active">{{class.courseID.name}}</li>
    </ol>
    <div class="row">
        <div class="col-md-4">
         <a role="button" class="btn btn-block btn-default" href="/all" style="text-align:left; white-space: normal;">All Courses</a>
         <a role="button" class="active btn btn-block btn-primary" href="/add" style="text-align:left; white-space: normal;">Add Course</a>
         <a role="button" class="btn btn-block btn-default" href="/drop" style="text-align:left; white-space: normal;">Drop Course</a></div>
         <div class="container col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{currentCourse.name}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="name" class="control-label">Course Name</label>
                        </div>
                        <div class="col-sm-9">{{currentCourse.name}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="category" class="control-label">Category</label>
                        </div>
                        <div class="col-sm-9">{{currentCourse.categoryID.name}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="category" class="control-label">Partipant Limit</label>
                        </div>
                        <div class="col-sm-9">{{currentCourse.limit}}</div>
                    </div>								
                    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                           <tr>
                              <th>SubClass</th>
                              <th>Status</th>
                              <th>Remaining Space</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                         {% for class in classes %}
                         <form class="form-horizontal" role="form" action="/add/finish" id="chooseSubClass{{class.id}}" method="POST" >
                            {% csrf_token %}         
                           <tr>						
                               <input type="hidden" name="classID" value="{{class.id}}" >
                               <input type="hidden" name="courseID" value="{{class.courseID.id}}" >
                               <input type="hidden" name="name" value="{{class.courseID.name}}" >
                               <td >{{class.code}}</td>                 
                               <td >
                                {% if class.status == 0 %}
                                Closed
                                {% elif class.status == 1 %}
                                Opened
                                {% elif class.status == 2 %}
                                In Progress
                                {% elif class.status == 3 %}
                                Ended
                                {% else %}
                                Unknown
                                {% endif %}
                            </td>                 
                            <td>{{ class.remain}}</td>
                            <td>
                                {% if count == 0 %}
                                    {% if class.status == 0 %}
                                    <div class="btn btn-default btn-block disabled">Closed for enrollment</div>
                                    {% elif class.status == 1 %}
                                    <a type="button" href="javascript:void(0);"  class="btn btn-default btn-block" onclick="document.getElementById('chooseSubClass{{class.id}}').submit();" >Enroll</a></td>
                                    {% elif class.status == 2 %}
                                    <div class="btn btn-default btn-block disabled">In progress</div>
                                    {% elif class.status == 3 %}
                                    <div class="btn btn-default btn-block disabled">Ended</div>
                                    {% else %}

                                    {% endif %}
                                {% else %}
                                        {% if class.status == 0 %}
                                        <div class="btn btn-default btn-block disabled">Closed for enrollment</div>
                                        {% elif class.status == 1 %}
                                            {% if class.id == currentID %}
                                            <div class="btn btn-default btn-block disabled">Already enrolled</div>
                                            {% else %}
                                            <div class="btn btn-default btn-block disabled">Cannot enroll more than one course</div>
                                            {% endif %}
                                        {% elif class.status == 2 %}
                                            {% if class.id == currentID %}
                                            <div class="btn btn-default btn-block disabled">Studying</div>
                                            {% else %}
                                            <div class="btn btn-default btn-block disabled">In progress</div>
                                            {% endif %}
                                        {% elif class.status == 3 %}
                                            {% if class.id == currentID %}
                                            <div class="btn btn-default btn-block disabled">Already studied</div>
                                            {% else %}
                                            <div class="btn btn-default btn-block disabled">Ended</div>
                                            {% endif %}
                                        {% else %}

                                        {% endif %}
                                {% endif %}
                            </tr>
                        </form>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>