<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<body>
  <div class="container-fluid" style="min-height:95%; ">
    {% include "header.html" with active_tab="enrollment" %}
    <body>
      <ol class="breadcrumb">
        <li>
          <a href="#">Enrollment</a>
        </li>
        <li><a href="/add">Add Course</a></li>
        <li class="active">
          Information Technology
        </li>
      </ol>
      <div class="row">
        <div class="col-md-4">
         <a role="button" class="btn btn-block btn-default" href="/all" style="text-align:left; white-space: normal;">All Courses</a>
         <a role="button" class="active btn btn-block btn-primary" href="/add" style="text-align:left; white-space: normal;">Add Course</a>
         <a role="button" class="btn btn-block btn-default" href="/drop" style="text-align:left; white-space: normal;">Drop Course</a>
       </div>
       <div class="container col-md-8">
        <div class="panel panel-primary">		  
          <div class="panel-heading">
            <h3 class="panel-title">{{selectedCategory}}</h3>
          </div>
          <div class="panel-body">
           <div class="col-md-12">			
            <table id="example1" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Course Name</th>
                  <th>Participant Limit for Each Sub-class</th>
                  <th>Action</th>
                </tr>
              </thead>				
              <tbody>	
                {% for eachcourse in course %}
                <form class="form-horizontal" role="form" action="/add/course" id="chooseCourse{{eachcourse.id}}" method="POST" >	
                  <tr>
                   {% csrf_token %}
                   <input type="hidden" name="courseID" value="{{eachcourse.id}}"  >
                   <input type="hidden" name="category" value="{{eachcourse.name}}" >
                   <td >{{eachcourse.name}}</td>
                   <td>{{eachcourse.limit}}</td>
                   <td><a href="javascript:void(0);" class="btn btn-default btn-block" onclick="document.getElementById('chooseCourse{{eachcourse.id}}').submit();" >Enroll</td>
                 </tr>
               </form>
               {% endfor %}
             </tbody>

           </table>

         </div>
       </div>			
     </div>
   </div>
 </div>
</div>
{% include "footer.html" %}

</body></html>