<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<body>
  <div class="container-fluid" style="min-height:95%; ">
    {% include "header.html" with active_tab="enrollment" %}
    <ol class="breadcrumb">
      <li>
        <a href="#">Enrollment</a>
      </li>
      <li class="active">Drop Course</li>
    </ol>
    <div class="row">
      <div class="col-md-4">
       <a role="button" class="btn btn-block btn-default" href="/all" style="text-align:left; white-space: normal;">All Courses</a>
       <a role="button" class="btn btn-block btn-default" href="/add" style="text-align:left; white-space: normal;">Add Course</a>
       <a role="button" class="active btn btn-block btn-primary" href="/drop" style="text-align:left; white-space: normal;">Drop Course</a>
     </div>
     <div class="container col-md-8">
      <div class="row">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Drop Current Enrolled Course</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              {% if count < 1 %}
              <a role="button" class="btn btn-block btn-default" href="" style="text-align:left; white-space: normal;">You have not enrolled any courses!
              </a>
              {% else %}
              <div class="col-sm-10">
                <a role="button" class="btn col-sm-12 btn-default" href="" style="text-align:left; white-space: normal;">{{ class.courseID.name }}
                </a>
              </div>
              <div class="col-sm-2"> 
                <form class="form-horizontal" role="form" action="/drop/finish" method="POST" > 
                  {% csrf_token %}                 
                  <input type="hidden" name="courseID" value="{{class.courseID.id}}" >
                  <input type="hidden" name="classID" value="{{class.id}}" >
                  <input type="hidden" name="name" value="{{class.courseID.name}}" >
                  <button type="submit" class="btn col-sm-12 btn btn-default">Drop</button>
                </form>
                {% endif %}
              </div>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>   
{% include "footer.html" %}
</body></html>