<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<body class="body">
	<div class="container-fluid" style="min-height:95%; ">
		{% include "header.html" with active_tab="course" %}
		<ol class="breadcrumb">
			<li class="active">Course</li>
		</ol>
		<div class="btn-block btn-default btn" style="text-align:left">Current Course</div>
		<p></p>
		{% if currentCount > 0 %}
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h1 class="panel-title pull-left">
				<a href="course/detail?classID={{current.id}}">{{current.courseID.name}} ({{current.code}})</a>
				</h1>
				<i class="-circle fa pull-right fa-bars" data-toggle="collapse" href="#{{current.courseID.id}}_{{current.id}}"></i>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body panel-collapse in" id="{{current.courseID.id}}_{{current.id}}">
				<div class="row">
					<div class="col-sm-2">
						<label for="name" class="control-label">Desription</label>
					</div>
					<div class="col-sm-10">
						{{current.description}}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<label for="category" class="control-label">Category</label>
					</div>
					<div class="col-sm-10">
						{{current.courseID.categoryID.name}}
					</div>
				</div>

			</div>
		</div>

		{% else %}
			There is no current enrolled course.
		{% endif %}
		<div class="btn-block btn-default btn" style="text-align:left">Previous Course</div>
		<p></p>
		{% if endedClassCount > 0%}
		{% for class in endedClass %}
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h1 class="panel-title pull-left">
					<a href="course/detail?classID={{class.id}}">{{class.courseID.name}} ({{class.code}})</a>
				</h1>
				<i class="-circle fa pull-right fa-bars" data-toggle="collapse" href="#{{class.courseID.id}}_{{class.id}}"></i>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body panel-collapse in" id="{{class.courseID.id}}_{{class.id}}">
				<div class="row">
					<div class="col-sm-2">
						<label for="name" class="control-label">Desription</label>
					</div>
					<div class="col-sm-10">
						{{class.description}}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<label for="category" class="control-label">Category</label>
					</div>
					<div class="col-sm-10">
						{{class.courseID.categoryID.name}}
					</div>
				</div>

			</div>
		</div>


		{% endfor %}

		{% else %}
			There is no previous course.
		{% endif %}
		
	</div>
	{% include "footer.html" %}
</body>

</html>