<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<body class="body">
	<div class="container-fluid" style="min-height:95%; ">
		{% include "header.html" with active_tab="enrollment" %}
				<div class="row">
					<div class="col-md-12">
						<h1>Enrollment Course</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p>
							You can only enroll one course at a time.
						</p>
						<p>
						Click <a href="/course">here</a> to forward to the course page.
						</p>
					</div>
				</div>

	</div>
	{% include "footer.html" %}
</body>

</html>