<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
</head>
<body>
  <div class="container-fluid" style="min-height:95%; ">
      {% include "header.html" with active_tab="course" %}
      <style type="text/css">
      .video_frame {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
      }
      .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    </style>
    <ol class="breadcrumb">
      <li>
        <a href="/course">Course</a>
      </li>
      <li>
        <a href="/course/detail?classID={{module.classID.id}}">{{ module.courseID.name }}</a>
      </li>
      <li>
        <a href="/course/module?courseID={{module.courseID.id}}&classID={{module.classID.id}}&moduleID={{module.id}}">{{ module.name }}</a>
      </li>
      <li class="active">Previous Quiz Submissions</li>
    </ol>
    <div class="row">
        <div class="container col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">All Submissions</h3>
                </div>
                <div class="panel-body">
                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Date and Time</th>
                                <th>Marks</th>
                                <th>Grade</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for submission in submissions %}
                            <tr>
                                <td>{{ submission.dateTime }}</td>
                                <td>{{ submission.marks }} / {{questionCount}}</td>
                                <td>
                                {% if submission.marks >= passMark %}
                                    Pass
                                {% else %}
                                    Fail
                                {% endif %}
                                </td>
                                <td>
                                    <a href="/course/quiz/review?courseID={{module.courseID.id}}&classID={{module.classID.id}}&moduleID={{module.id}}&submissionID={{submission.id}}"><input type="button" class="btn btn-default" value="Details"></a>

                                </td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>   
        </div>  
    </div>    

</div>   
{% include "footer.html" %}
</body>
</html>