<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
</head>
<body>
  <div class="container-fluid" style="min-height:95%; ">
      {% include "header.html" with active_tab="enrollment" %}
      <ol class="breadcrumb">
        <li>
            <a href="#">Enrollment</a>
        </li>
        <li class="active">All Courses</li>
    </ol>
    <div class="row">
        <div class="col-md-4">
            <a role="button" class="active btn btn-block btn-primary" href="/all" style="text-align:left; white-space: normal;">All Courses</a>
            <a role="button" class="btn btn-block btn-default" href="/add" style="text-align:left; white-space: normal;">Add Course</a>
            <a role="button" class="btn btn-block btn-default" href="/drop" style="text-align:left; white-space: normal;">Drop Course</a>
        </div>
        <div class="container col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">All Courses</h3>
                </div>
                <div class="panel-body">
                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Course Name</th>
                                <th>Category</th>
                                <th>Participant Limit for Each Sub-class</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in courses %}
                            <tr>
                                <td>{{ course.name }}</td>
                                <td>{{ course.categoryID.name }}</td>
                                <td>{{ course.limit }}</td>
                                <td>
                                 <form class="form-horizontal" role="form" action="/add/course" id="chooseCourse{{course.id}}" method="POST" >  
                                    {% csrf_token %}
                                    <input type="hidden" name="courseID" value="{{course.id}}"  >
                                    <input type="hidden" name="category" value="{{course.name}}" >
                                    <a href="javascript:void(0);" class="btn btn-default btn-block" onclick="document.getElementById('chooseCourse{{course.id}}').submit();" >Sub-Class Details</a>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>   
        </div>  
    </div>    

    </div>   
{% include "footer.html" %}
</body>
</html>