<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<body>
  <div class="container-fluid" style="min-height:95%; ">
    {% include "header.html" with active_tab="course" %}
    <style type="text/css">
      .video_frame {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
      }
      .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    </style>
    <ol class="breadcrumb">
      <li>
        <a href="/course">Course</a>
      </li>
      <li>
        <a href="/course/detail?classID={{module.classID.id}}">{{ module.courseID.name }}</a>
      </li>
      <li>
        <a href="/course/module?courseID={{module.courseID.id}}&classID={{module.classID.id}}&moduleID={{module.id}}">{{ module.name }}</a>
      </li>
      <li>
        <a href="/course/quiz/list?courseID={{module.courseID.id}}&classID={{module.classID.id}}&moduleID={{module.id}}">Previous Quiz Submissions</a>
      </li>
      <li class="active">Quiz Review</li>
    </ol>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#details">Quiz Submission Details</a>
        </h4>
      </div>
      <div id="details" class="panel-collapse in">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-2">
            <label for="name" class="control-label">Submission Time</label>
            </div>
            <div class="col-sm-10">
              {{submission.dateTime}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
            <label for="name" class="control-label">Marks</label>
            </div>
            <div class="col-sm-10">
              {{submission.marks}} / {{questionCount}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
            <label for="name" class="control-label">Grade</label>
            </div>
            <div class="col-sm-10">
              {% if submission.marks >= passMark %}
                Pass
              {% else %}
                Fail
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% for question in questions %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#questions{{question.order}}">{{question.order}}. {{question.question}}</a>
        </h4>
      </div>
      <div id="questions{{question.order}}" class="panel-collapse in">
        <div class="panel-body">
          {% for answer in answers %}
          {% if answer.questionID.id == question.id %}
          <div class="col-sm-12 form-check">
            <label class="form-check-label">
              <input class="form-check-input disabled" type="radio" name="answer{{question.id}}" id="{{answer.id}}" value="{{answer.id}}" disabled
              {% for x in answerList %}
              {% if x == answer.id %}
              checked
              {% endif %}
              {% endfor %}
              >
              {{answer.answer}}
            </label>
          </div>
          {% endif %}
          {% endfor %}
          {% for x in answerList %}
            {% if x == question.correctAnswer %}
            <div class="col-sm-12 text-right">
              Correct.
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% include "footer.html" %}
</body>
</html>