<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<body>
  <div class="container-fluid" style="min-height:95%; ">
    {% include "header.html" with active_tab="enrollment" %}
    <ol class="breadcrumb">
      <li>
        <a href="#">Enrollment</a>
      </li>
      <li class="active">Add Course</li>
    </ol>
    <div class="row">
      <div class="col-md-4">
        <a role="button" class="btn btn-block btn-default" href="/all" style="text-align:left; white-space: normal;">All Courses</a>
        <a role="button" class="active btn btn-block btn-primary" href="/add" style="text-align:left; white-space: normal;">Add Course</a>
        <a role="button" class="btn btn-block btn-default" href="/drop" style="text-align:left; white-space: normal;">Drop Course</a>
      </div>
      <div class="container col-md-8">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Select Category</h3>
          </div>
          <div class="panel-body">
           <div class="col-md-12">
            <form class="form-horizontal" role="form" action="/add/category" method="POST">
             {% csrf_token %}
             <div class="form-group">
               <div class="col-sm-2">
                 <label for="sel1">Category</label>
               </div>
               <div class="col-sm-10">
                 <select class="form-control" id="id_category" name="category">
                  {% for category in categories %}
                  <option value="{{category.name}}" >{{category}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
             <div class="col-sm-offset-2 col-sm-10">
               <input type="submit" class="btn btn-default" value="Confirm"/>
             </div>
           </div>
         </form>
       </div>             
     </div>
   </div>
 </div>
</div>
</div>   
{% include "footer.html" %}
</body></html>