<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<body>
  <div class="container-fluid" style="min-height:95%; ">
    {% include "header.html" with active_tab="course" %}
    <ol class="breadcrumb">
      <li>
        <a href="/course">Course</a>
      </li>
      <li class="active">{{ class.courseID.name }}</li>
    </ol>
    <div class="section">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1 class="panel-title pull-left">
                Course Details
              </h1>
              <i class="-circle fa pull-right fa-bars" data-toggle="collapse" href="#course_detail"></i>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body panel-collapse in" id="course_detail">
              <div class="row">
                <div class="col-sm-2">
                  <label for="category" class="control-label">Category</label>
                </div>
                <div name="category" class="col-sm-10">
                  {{class.courseID.categoryID.name}}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                  <label for="limit" class="control-label">Limit</label>
                </div>
                <div name="limit" class="col-sm-10">
                  {{class.courseID.limit}}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                  <label for="des" class="control-label">Description</label>
                </div>
                <div name="des" class="col-sm-10">
                  {{class.description}}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                  <label for="des" class="control-label">Latest submission</label>
                </div>
                <div name="des" class="col-sm-10">
                  {{userProgress.updateTime}}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                  <label for="status" class="control-label">Status</label>
                </div>
                <div name="status" class="col-sm-10">
                  {% if class.status == 0 %}Closed{% endif %}
                  {% if class.status == 1 %}Opened{% endif %}
                  {% if class.status == 2 %}In Progress{% endif %}
                  {% if class.status == 3 %}Ended{% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if moduleCount > 0 %}
      {% for module in modules %}
        {% if userProgress.nowModuleID.id == module.id %}
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa -circle pull-left fa-tasks"></i>
                  <h3 class="panel-title pull-left">
                    <a href="/course/module?courseID={{module.courseID.id}}&classID={{module.classID.id}}&moduleID={{module.id}}&previous_page=0">{{module.name}}</a>
                  </h3>
                  <i class="fa -circle pull-right fa-angle-double-right"></i>
                  <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <label for="name" class="control-label">Module Description</label>
                    </div>
                    <div class="col-sm-9">
                      {{module.description}}
                    </div>
                  </div>
                      <div class="row">
                        <div class="col-sm-3">
                          <label for="name" class="control-label">Status</label>
                        </div>
                        <div class="col-sm-9">
                          Now in progress
                        </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        {% for p in pass %}
          {% if p == module.id %}
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h3 class="panel-title pull-left">
                    <i class="fa -circle pull-left fa-check"></i>
                      <a href="/course/module?courseID={{module.courseID.id}}&classID={{module.classID.id}}&moduleID={{module.id}}&previous_page=0">{{module.name}}</a>
                    </h3>
                    <i class="-circle fa pull-right fa-bars" data-toggle="collapse" href="#module{{module.id}}"></i>
                    <div class="clearfix"></div>
                  </div>
                  <div class="panel-body panel-collapse collapse" id="module{{module.id}}">
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="name" class="control-label">Module Description</label>
                      </div>
                      <div class="col-sm-9">
                        {{module.description}}
                      </div>
                    </div>
                        <div class="row">
                          <div class="col-sm-3">
                            <label for="name" class="control-label">Status</label>
                          </div>
                          <div class="col-sm-9">
                            Finished
                          </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}


        {% for p in incomplete %}
          {% if p == module.id %}
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <i class="fa -circle pull-left fa-lock"></i>
                    <h3 class="panel-title pull-left">
                      {{module.name}}
                    </h3>
                    <i class="-circle fa pull-right fa-bars" data-toggle="collapse" href="#module{{module.id}}"></i>
                    <div class="clearfix"></div>
                  </div>
                  <div class="panel-body panel-collapse collapse" id="module{{module.id}}">
                    <div class="row">
                      <div class="col-sm-12">
                        You need to complete the previous module to unlock this one!
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}

      {% endfor %}
      {% else %}
      There are no modules in this course.
      {% endif %}
    </div>
  </div>
  {% include "footer.html" %}
</body>
</html>