<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<body>
  <div class="container-fluid" style="min-height:95%; ">
    {% include "header.html" with active_tab="course" %}
    <style type="text/css">
      .video_frame {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
      }
      .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    </style>
    <ol class="breadcrumb">
      <li>
        <a href="/course">Course</a>
      </li>
      <li>
        <a href="/course/detail?classID={{module.classID.id}}">{{ module.courseID.name }}</a>
      </li>
      <li>
        <a href="/course/module?courseID={{module.courseID.id}}&classID={{module.classID.id}}&moduleID={{module.id}}">{{ module.name }}</a>
      </li>
      <li class="active">Quiz</li>
    </ol>
    <form class="form-horizontal" role="form" method="POST" action="/db/quiz/submit">
    {% csrf_token %}
    <input type="number" class="hidden" name="courseID" value="{{ module.courseID.id }}">
    <input type="number" class="hidden" name="classID" value="{{ module.classID.id }}">
    <input type="number" class="hidden" name="moduleID" value="{{ module.id }}">
    
    {% for question in questions %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#questions{{question.order}}">{{question.order}}. {{question.question}}</a>
        </h4>
      </div>
      <div id="questions{{question.order}}" class="panel-collapse in">
        <div class="panel-body">
          {% for answer in answers %}
            {% if answer.questionID.id == question.id %}
            <div class="col-sm-12 form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="answer{{question.id}}" id="{{answer.id}}" value="{{answer.id}}" checked>
                {{answer.answer}}
              </label>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
    <input type="submit" class="btn btn-default" value="Submit">
    </form>
  </div>
</div>
{% include "footer.html" %}
</body>
</html>